/* Proyecto realizado por: José A. Rodríguez López-->
 * Fecha: 10/10/2022
 */

body{
  box-sizing: border-box;
}

.cabecera {
  margin: 10px;
}

#titulo {
  display: flex;
  flex-direction: row;
  font-size: larger;
  background-color: #bea925;
  padding: 15px 0px;
}

#titulo .imagen {
  width:25%;
  padding: 15px auto;
  margin: 0;
}

.imagen img{
  display: flex;
  width:200px;
}

#titulo #img1{
  float:right;
}

#titulo #img2{
  float:left;
}

#tit_principal {
  width: 50%;
  text-decoration: underline;
  text-align: center;
  margin: 0px;
  top: 50%;
}

#principal{
  margin:10px;
}

main {
  box-sizing: border-box;
  background: #2596be;
  float:left;
  width:50%;
  margin: 0 0 15px 0;
  padding: 0 30px;
  height: 415px;
}

#mapa{
  box-sizing: border-box;
  float:right;
  width:50%;
  height: 415px;
  border: 2px solid black;
  float:left;
  margin: 0 0 15px 0;
  padding: 2px;
  background-color: black;
}

footer {
  float:left;
  width:100%;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border-top: solid 1px #6c25be;
}

input, label, button {
  font-size: 16px;
}

main label,h3{
 color:white
}

main input, select, button{
  margin:10px 10px;
}

#controles{
  height: auto;
  background-color: #6c25be;
}

nav{
  display: inline;
  justify-content: left;
}

nav h3{
  display:inline-flex;
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}

nav input,button{
  margin: 20px;
  text-align: center;
  font-size: 15px;
  width: auto;
  height:30px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px #2596be;
}

.div_padre {
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.div_padre input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

#notificaciones{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 50px;
  margin: 10px 0;
  border: 2px solid #bea925;
}

#notificaciones p{
  color:red;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}


